/* Flight - By LightCMSs */
/*
// Reset CSS
// Adapted from http://github.com/necolas/normalize.css
// --------------------------------------------------
*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Cardo:400,400italic,700);
html, body, div, span, applet, object, iframe, p, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd,
dl, dt, li, ol, ul, form, label, h1, h2, .eventsList ul li > a, .productListing h3.productTitle, .productListing.productListingGrid h3.productTitle, h2.productDetailTitle, h3, h4, h5, h6, hr {
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none; }

nav,
nav *,
header,
header *,
.contents * {
  box-sizing: border-box; }

/* Display in IE6-9 and FF3 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/* Display block in IE6-9 and FF3 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Prevents modern browsers from displaying 'audio' without controls */
audio:not([controls]) {
  display: none; }

/* Base settings */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

/*  Hover & Active */
a:hover,
a:active {
  outline: 0; }

/* Prevents sub and sup affecting line-height in all browsers */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Img border in a's and image quality */
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

/*  Prevent max-width from affecting Google Maps */
#map_canvas img,
.google-maps img {
  max-width: none; }

/* FORMS */
/* Font size in all browsers, margin changes, misc consistency */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  /* Inner spacing ie IE6/7 */
  line-height: normal;
  /* FF3/4 have !important on line-height in UA stylesheet */
  outline: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/*
// PRINTING
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
*/
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  .eventsList ul li > a,
  .productListing h3.productTitle,
  .productListing.productListingGrid h3.productTitle,
  h2.productDetailTitle,
  h3 {
    orphans: 3;
    widows: 3; }

  h2, .eventsList ul li > a, .productListing h3.productTitle, .productListing.productListingGrid h3.productTitle, h2.productDetailTitle,
  h3 {
    page-break-after: avoid; } }
/* Language specification for smart quotes */
:lang(en-us) > q {
  quotes: "\201c" "\201d" "\2018" "\2019"; }

:lang(en-gb) > q {
  quotes: "\2018" "\2019" "\201c" "\201d"; }

/* ANIMATIONS
------------------------------------------------------------ */
@-webkit-keyframes zoominlogin {
  0% {
    transform: scale(0); }
  75% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-moz-keyframes zoominlogin {
  0% {
    transform: scale(0); }
  75% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes zoominlogin {
  0% {
    transform: scale(0); }
  75% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px); }
  40% {
    opacity: .6;
    -webkit-transform: translateY(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-moz-keyframes fade {
  0% {
    opacity: 0;
    -moz-transform: translateY(-50px); }
  40% {
    opacity: .6;
    -moz-transform: translateY(10px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px); }
  40% {
    opacity: .6;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
html {
  height: 100%;
  min-height: 100%; }

body {
  font: 300 75%/2 "Cardo", serif;
  color: #434343;
  background: #fff url(../../images/mountain-bg.jpg) fixed no-repeat top center;
  background-size: cover;
  text-rendering: optimizeLegibility;
  height: 100%; }
  body.scroll {
    overflow: hidden; }

.width,
article {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative; }
  @media screen and (max-width: 960px) {
    .width,
    article {
      padding-left: 1em;
      padding-right: 1em; } }

::selection {
  background: #FF4056;
  color: #fff; }

::-moz-selection {
  background: #FF4056;
  color: #fff; }

.contents a {
  color: #1d1d1d;
  text-decoration: underline;
  -webkit-transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out; }
  .contents a:hover {
    color: #FF4056; }

h1,
h2,
.eventsList ul li > a,
.productListing h3.productTitle,
.productListing.productListingGrid h3.productTitle,
h2.productDetailTitle,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px;
  font-family: "Montserrat", sans-serif;
  color: #1d1d1d;
  line-height: 1.2;
  font-weight: 700; }
  h1 a,
  h2 a,
  .eventsList ul li > a a,
  .productListing h3.productTitle a,
  .productListing.productListingGrid h3.productTitle a,
  h2.productDetailTitle a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit; }
    h1 a:hover,
    h2 a:hover,
    .eventsList ul li > a a:hover,
    .productListing h3.productTitle a:hover,
    h3 a:hover,
    h4 a:hover,
    h5 a:hover,
    h6 a:hover {
      color: #FF4056; }
  h1.title,
  h2.title,
  .eventsList ul li > a.title,
  .productListing h3.title.productTitle,
  h3.title,
  h4.title,
  h5.title,
  h6.title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px; }
    h1.title::after,
    h2.title::after,
    .eventsList ul li > a.title::after,
    .productListing h3.title.productTitle::after,
    h3.title::after,
    h4.title::after,
    h5.title::after,
    h6.title::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -15px;
      background: #FF4056;
      width: 40px;
      height: 5px; }

h1 {
  font-size: 45px; }

h2, .eventsList ul li > a, .productListing h3.productTitle, .productListing.productListingGrid h3.productTitle, h2.productDetailTitle {
  font-size: 35px; }

h3 {
  font-size: 35px;
  color: #FF4056; }

h4 {
  font-size: 25px; }

h5 {
  font-size: 20px; }

.contents {
  font-size: 18px; }
  .contents p {
    margin: 0 0 40px 0; }
  .contents .element {
    margin: 0 0 60px 0; }
    .contents .element p:last-child {
      margin-bottom: 0; }

blockquote {
  border-left: 6px solid #2A2C38;
  margin: 0 0 40px 0;
  padding: 10px 0 10px 20px;
  font-size: 110%; }

.contents img {
  vertical-align: bottom; }
  @media screen and (max-width: 480px) {
    .contents img {
      max-width: 100%;
      height: auto; } }

.element ol {
  list-style: decimal;
  margin: 0 0 40px 45px; }
  .element ol li {
    margin-bottom: 5px; }

.element ul,
.postBody ul {
  list-style: square;
  margin: 0 0 40px 45px; }
  .element ul li,
  .postBody ul li {
    margin-bottom: 5px; }

input,
textarea,
select {
  font: 300 16px/1.5 "Cardo", serif;
  color: #777;
  background: #fff;
  border: 1px solid #ddd !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  input:focus,
  textarea:focus,
  select:focus {
    outline: 0;
    -moz-outline-style: none;
    border-color: #bbb !important; }

.donationElement p a,
.button-default,
.commentsForm .submitComment,
.EviteElement .submitComment,
.form_container .submitButton,
.EviteElement .EviteButton,
.loginElement .button,
.productListing input.productAddToCart,
.productListing a.productSelectOptions,
.productDetailAddToCartContainer .productDetailAddToCart {
  font: 15px/2 "Montserrat", sans-serif;
  background: #FF4056;
  display: inline-block;
  color: #fff;
  padding: 10px 25px;
  text-transform: uppercase;
  border: none !important;
  margin-right: 20px;
  width: auto !important;
  text-decoration: none;
  border-radius: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .donationElement p a:hover,
  .button-default:hover,
  .commentsForm .submitComment:hover,
  .EviteElement .submitComment:hover,
  .form_container .submitButton:hover,
  .EviteElement .EviteButton:hover,
  .loginElement .button:hover,
  .productListing input.productAddToCart:hover,
  .productListing a.productSelectOptions:hover,
  .productDetailAddToCartContainer .productDetailAddToCart:hover {
    background: #c00016;
    color: #fff; }
  .donationElement p a a,
  .button-default a,
  .commentsForm .submitComment a,
  .EviteElement .submitComment a,
  .form_container .submitButton a,
  .EviteElement .EviteButton a,
  .loginElement .button a,
  .productListing input.productAddToCart a,
  .productListing a.productSelectOptions a,
  .productDetailAddToCartContainer .productDetailAddToCart a {
    color: inherit;
    text-decoration: none; }

table {
  border-collapse: collapse;
  margin: 15px 0 40px;
  max-width: 100%;
  background: #e9e9eb; }
  table tr:nth-child(even) {
    background: #fff; }
  table th {
    background: #434343;
    color: #fff;
    font: 400 18px/1.3 "Montserrat", sans-serif;
    text-align: left;
    padding: 15px; }
  table td {
    padding: 15px;
    font-size: 15px; }

dl {
  margin-bottom: 40px; }
  dl dt {
    font: 700 18px/1.3 "Montserrat", sans-serif; }

pre {
  margin-bottom: 40px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

code {
  display: block;
  margin-bottom: 40px; }

hr {
  border: 1px solid #e9e9eb;
  border-width: 0 0 1px;
  border-collapse: collapse;
  clear: both;
  margin: 40px 0; }

p hr {
  margin: 0; }

header article {
  position: relative;
  min-height: 700px;
  padding: 305px 0 50px; }
header .cart-full {
  display: block;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -15px;
  background: url(../../images/cart.svg) no-repeat 0 0;
  background-size: contain;
  width: 30px;
  height: 30px;
  text-indent: -9999px; }
header .logo {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  max-height: 150px;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out; }
  @media screen and (max-width: 800px) {
    header .logo {
      font-size: 4rem; } }
  header .logo a {
    color: #1d1d1d; }

.sec-page header article {
  min-height: 175px;
  padding-top: 70px; }
  .sec-page header article .cart-full {
    top: 15px; }
  .sec-page header article .logo {
    font-size: 2.7rem; }

nav {
  background: #fff;
  margin: -250px 0 150px;
  text-align: center; }
  nav ul li {
    display: inline-block;
    font: 700 15px/1 "Montserrat", sans-serif;
    text-transform: uppercase;
    position: relative; }
    nav ul li:hover a, nav ul li:focus a {
      color: #FF4056; }
    nav ul li a {
      color: #1d1d1d;
      display: block;
      padding: 40px 30px;
      text-decoration: none !important;
      -webkit-transition: all 0.55s ease-in-out;
      -moz-transition: all 0.55s ease-in-out;
      transition: all 0.55s ease-in-out; }
      nav ul li a:hover {
        color: #FF4056; }
  nav.active {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0; }
    nav.active ul li a {
      padding: 30px; }
    nav.active .level2 {
      top: 60px !important; }
  nav .level2 {
    position: absolute;
    text-align: left;
    z-index: 999;
    top: 75px;
    left: 0;
    background-color: #e9e9eb;
    padding: 20px 30px;
    width: 220px;
    display: none; }
    nav .level2 li {
      margin: 0;
      font-size: 14px;
      text-transform: none;
      display: block; }
    nav .level2 a {
      color: #2A2C38 !important;
      padding: 10px 0 !important; }
    nav .level2 a:hover,
    nav .level2 .selectedPage a,
    nav .level2 .selectedPagePath a,
    nav .level2 .selectedPageParent a {
      color: #FF4056 !important; }

nav li:hover ul.level2,
nav li:focus ul.level2 {
  display: block;
  -webkit-animation: fade 0.3s ease-in-out both;
  -moz-animation: fade 0.3s ease-in-out both;
  animation: fade 0.3s ease-in-out both; }

/* navigation responsive ------------------------------------ */
@media screen and (max-width: 850px) {
  nav {
    background: #fff url(../../images/menu.svg) no-repeat 50% 10px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    z-index: 99999;
    margin-left: auto;
    margin-right: auto;
    /* level 2 / 3 */ }
    nav ul {
      position: fixed;
      display: none;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      margin: 0;
      background: rgba(38, 38, 41, 0.98);
      float: none;
      text-align: center;
      overflow: auto;
      z-index: 99999;
      padding-top: 30px; }
      nav ul.active {
        display: block;
        cursor: default;
        -webkit-animation: fade 0.3s ease-in-out both;
        -moz-animation: fade 0.3s ease-in-out both;
        animation: fade 0.3s ease-in-out both; }
      nav ul::before {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        padding: 0;
        content: "x";
        color: #fff;
        font: 200 40px/30px "Montserrat", sans-serif;
        cursor: pointer;
        z-index: 9999; }
      nav ul li {
        display: block;
        text-align: center;
        color: #fff;
        margin: 0;
        padding: 0; }
      nav ul a {
        padding: 10px 0;
        font-size: 20px;
        font-weight: 600;
        color: #fff !important; }
    nav .level2,
    nav .level3 {
      position: static;
      background-color: transparent;
      padding: 0 20px 15px;
      width: 100%;
      min-width: 100% !important;
      display: block !important;
      left: auto !important;
      right: auto !important;
      border: none !important;
      -webkit-animation: none;
      -moz-animation: none;
      animation: none; }
      nav .level2::before,
      nav .level3::before {
        display: none; }
      nav .level2 li,
      nav .level3 li {
        margin-right: 0 !important;
        display: block !important; }
      nav .level2 a,
      nav .level3 a {
        color: #fff !important;
        font-size: 15px;
        font-weight: 500;
        opacity: .7; } }
.contents {
  padding: 250px 0 200px;
  background: rgba(250, 250, 250, 0.99);
  box-sizing: border-box;
  position: relative;
  z-index: 100; }

.two-column {
  overflow: hidden;
  clear: both; }
  .two-column .box {
    width: 47.5%;
    float: left; }
    @media screen and (max-width: 800px) {
      .two-column .box {
        width: 100% !important;
        float: none !important; } }
  .two-column .box:first-child {
    margin-right: 5%; }
    @media screen and (max-width: 800px) {
      .two-column .box:first-child {
        margin: 0; } }

.three-column {
  overflow: hidden;
  clear: both; }
  .three-column .box {
    width: 30%;
    max-width: 300px;
    display: block;
    float: left; }
    @media screen and (max-width: 800px) {
      .three-column .box {
        width: 100%;
        max-width: 100%;
        float: none;
        margin: 0; } }
  .three-column .box + .box {
    margin: 0 5%; }
    @media screen and (max-width: 800px) {
      .three-column .box + .box {
        margin: 0; } }
  .three-column .box + .box + .box {
    margin: 0; }

footer {
  display: block;
  padding: 75px 0 100px;
  text-align: center;
  font: 16px/1 "Montserrat", sans-serif;
  color: #fff; }
  footer ul {
    margin-bottom: 20px; }
    footer ul li {
      float: none !important;
      display: inline-block !important; }
      footer ul li a {
        display: inline-block !important; }

/* 
------------------------------------------------------------------------------------
CMS STYLES
------------------------------------------------------------------------------------ 
*/
/* BLOG ITEM
------------------------------------------------------------ */
/* blogs listings */
.blogList .postFeaturedImage {
  height: 160px;
  overflow: hidden; }
  .blogList .postFeaturedImage img {
    min-height: 160px; }
.blogList ul {
  margin: 0 0 40px;
  padding: 0; }
  .blogList ul li {
    margin: 0 0 60px;
    padding: 0; }
  .blogList ul .postTitle, .blogList .eventsList ul li > a, .eventsList .blogList ul li > a, .blogList ul .productListing h3.productTitle, .productListing .blogList ul h3.productTitle, .blogList ul h2.productDetailTitle {
    margin-bottom: 0; }
    .blogList ul .postTitle a, .blogList .eventsList ul li > a a, .eventsList .blogList ul li > a a, .blogList ul .productListing h3.productTitle a, .productListing .blogList ul h3.productTitle a, .blogList ul h2.productDetailTitle a {
      text-decoration: none; }
  .blogList ul .postInfo {
    font-size: 15px;
    color: #818181;
    margin-bottom: 0;
    font-style: italic; }
    .blogList ul .postInfo a {
      color: #818181; }
  .blogList ul .postThumb {
    width: 255px;
    margin-bottom: 40px; }
    @media screen and (max-width: 667px) {
      .blogList ul .postThumb {
        float: none;
        width: 95%;
        margin-bottom: 10px; } }
  .blogList ul .postThumb + .postContent {
    margin-left: 285px; }
    @media screen and (max-width: 667px) {
      .blogList ul .postThumb + .postContent {
        margin-left: 0; } }

.box .blogList ul .postThumb {
  float: none;
  width: 95%;
  margin-bottom: 10px; }
.box .blogList ul .postThumb + .postContent {
  margin-left: 0; }

.blogBack,
.rss {
  display: none !important; }

.blogList ul li ul, .eventsList ul li ul, .blogList ol li ul, .eventsList ol li ul {
  margin: 0 0 30px 45px !important; }

.blogList ul li li, .eventsList ul li li {
  list-style: circle !important;
  margin: 0 0 8px !important; }

/* post detail page */
.postViewInfo {
  border-width: 0 0 0 0;
  padding: 15px 0 35px;
  color: #b4b4ba;
  font-size: 16px;
  font-style: italic; }

.commentsHead {
  padding: 55px 0 25px;
  color: #1d1d1d; }
  .commentsHead span {
    font-size: 22px;
    text-transform: uppercase;
    font: 13px/2 "Cardo", serif; }
    .commentsHead span a {
      color: inherit;
      text-decoration: none; }

div.comments dt.comment {
  background: transparent;
  margin: 0;
  padding: 5px 0 5px 15px;
  border: none;
  border-left: 6px solid #e9e9eb;
  font: 18px/2 "Cardo", serif;
  color: #818181; }
  div.comments dt.comment a {
    text-decoration: none;
    font: 700 18px/2 "Montserrat", sans-serif; }
div.comments dd.comment {
  background: transparent;
  margin: 0 0 55px;
  border: none;
  border-left: 6px solid #e9e9eb;
  padding: 0 0 20px 15px; }
  div.comments dd.comment .commentDate {
    font-size: 15px;
    color: #818181;
    margin-bottom: -5px;
    padding-top: 10px; }
div.comments dt.authorComment,
div.comments dd.authorComment {
  border-left-color: #e9e9eb; }

.commentsForm, .EviteElement {
  clear: both;
  background: #e9e9eb;
  padding: 40px 40px 10px;
  max-width: 700px; }
  .commentsForm label, .EviteElement label,
  .commentsForm span,
  .EviteElement span {
    display: block;
    font: 17px "Cardo", serif;
    margin: 5px 15px 5px 0; }
  .commentsForm h3.addComment + p + p + p + span + br, .EviteElement h3.addComment + p + p + p + span + br,
  .commentsForm h3.addComment + p + p + p + span + br + img + br + input + span,
  .EviteElement h3.addComment + p + p + p + span + br + img + br + input + span {
    display: none; }
  .commentsForm input, .EviteElement input,
  .commentsForm textarea,
  .EviteElement textarea {
    clear: both;
    border: none;
    padding: 9px 10px;
    width: 90% !important; }
  .commentsForm textarea, .EviteElement textarea {
    width: 100% !important; }
  .commentsForm h3.addComment + p + p + p + span + br + img + br + input, .EviteElement h3.addComment + p + p + p + span + br + img + br + input {
    max-width: 150px;
    margin: 15px 0 20px 0; }
  .commentsForm .note, .EviteElement .note {
    display: none; }

/* EVENTS / CALENDAR 
------------------------------------------------------------ */
/* calendar detail page */
.event h2, .event .eventsList ul li > a, .eventsList ul .event li > a, .event .productListing h3.productTitle, .productListing .event h3.productTitle {
  margin-bottom: 0; }
.event .eventDate {
  margin: 0 0 30px !important;
  font-size: 15px;
  color: #818181;
  font-style: italic; }
.event .eventTime {
  color: #818181; }
.event .eventBack {
  display: none; }

/* event list */
.eventsList ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none; }
  .eventsList ul li {
    margin: 0 0 40px !important;
    padding: 0 !important; }
    .eventsList ul li .eventDate {
      margin: 0 0 5px 0;
      font-size: 15px;
      color: #818181;
      font-style: italic; }

/* tabular */
.eventsCalendar {
  margin: 0 0 60px;
  width: 100%;
  position: relative; }
  .eventsCalendar table {
    border: none;
    border-color: #efefef !important;
    background-color: #efefef;
    width: 100%;
    margin: 0 !important; }
    .eventsCalendar table td {
      padding: 0; }
  .eventsCalendar .calendarTitle {
    background: #e9e9eb !important;
    height: 90px !important;
    position: relative; }
    .eventsCalendar .calendarTitle td {
      color: #1d1d1d !important;
      background: #e9e9eb !important;
      font: 700 22px/1 "Montserrat", sans-serif !important;
      text-transform: uppercase;
      padding: 20px 10px !important; }
  .eventsCalendar .calendarNextPrevious:first-child a,
  .eventsCalendar .calendarNextPrevious:last-child a {
    background: url(../../images/more.svg) top right no-repeat !important;
    background-size: contain !important;
    display: block;
    text-indent: -9999px;
    height: 30px;
    width: 30px;
    top: 30px;
    right: 10%;
    position: absolute; }
  .eventsCalendar .calendarNextPrevious:first-child a {
    background: url(../../images/less.svg) top left no-repeat !important;
    background-size: contain !important;
    left: 10%;
    right: auto; }
  .eventsCalendar .calendarDayHeader {
    color: #818181;
    background: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    border-color: #fff;
    border-top: 1px solid #e9e9eb;
    border-bottom: 1px solid #e9e9eb; }
  .eventsCalendar .calendarWeekendDay,
  .eventsCalendar .calendarOtherMonthDay,
  .eventsCalendar .calendarDay,
  .eventsCalendar .calendarToday {
    vertical-align: top;
    background: #efefef;
    border: 0 !important;
    border-bottom: 1px solid #efefef !important;
    padding: 1.5em .5em !important;
    font-size: 12px; }
    .eventsCalendar .calendarWeekendDay a,
    .eventsCalendar .calendarOtherMonthDay a,
    .eventsCalendar .calendarDay a,
    .eventsCalendar .calendarToday a {
      font-size: 14px;
      color: #2A2C38;
      display: block;
      margin-top: 15px;
      margin-bottom: -5px;
      text-decoration: none; }
  .eventsCalendar .calendarOtherMonthDay {
    color: #c1c1c1; }
  .eventsCalendar .eventTime {
    font-style: italic;
    display: block;
    padding: 10px 0 0 !important;
    color: #818181; }
    .eventsCalendar .eventTime::before {
      content: "" !important; }

/* FORMS
------------------------------------------------------------ */
.form_container {
  margin: 20px 0 !important; }
  .form_container .fieldItemInner,
  .form_container .submitButtonContainer {
    padding: 0 !important; }
  .form_container .fieldRow {
    display: block; }
  .form_container .fieldBlock {
    margin: 0 0 10px;
    width: 98.5%; }
  .form_container .title {
    font-size: 15px;
    margin-bottom: -15px !important; }
  .form_container .textField,
  .form_container select {
    color: #818181;
    padding: 11px 13px;
    margin: 0; }
  .form_container select {
    padding: 3px 5px;
    max-width: 90% !important; }
  .form_container .choice-option {
    background: #fff;
    display: inline-block !important;
    padding: 10px 18px 10px 12px !important;
    border: 1px solid #e9e9eb;
    margin: 0 12px 12px 0 !important;
    -webkit-transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out; }
    .form_container .choice-option input {
      margin-right: 10px; }
    .form_container .choice-option label {
      font-size: 13px;
      color: #2A2C38 !important; }
    .form_container .choice-option:hover {
      border-color: #b4b4ba; }
  .form_container .fieldNote,
  .form_container .fieldName,
  .form_container .fieldInstructions {
    font-size: 13px !important;
    font-style: italic !important;
    margin: 5px 0 0 0; }
  .form_container img {
    display: block;
    max-width: 170px;
    max-height: 40px;
    margin-top: 10px;
    position: relative;
    border: 2px solid #fff;
    z-index: 9; }

.type-text input,
.type-address input,
.type-email input,
.type-website input,
.type-number input,
.type-captcha input,
.type-fileupload input,
.type-paragraph textarea {
  width: 90% !important; }

.type-name input {
  width: 90% !important; }

.type-date input,
.type-phone input,
.type-time input {
  width: 70% !important; }

.type-time select {
  width: 100% !important; }

.type-name .fieldBlock {
  width: 47.5% !important; }

.type-date .fieldBlock,
.type-phone .fieldBlock,
.type-time .fieldBlock {
  width: 20% !important; }

.type-address .fieldRow:nth-child(3) .fieldBlock {
  width: 30%; }

.type-address .fieldRow:nth-child(3) .fieldBlock input {
  width: 80% !important; }

.type-address .fieldRow:nth-child(3) .fieldBlock select {
  width: 100% !important; }

.fieldSelected {
  background: transparent !important;
  border-color: transparent !important; }

.fieldItemError {
  padding-left: 10px !important; }

.confirmation-content {
  height: 100px !important;
  min-height: 200px; }

.confirmation-content-message {
  padding: 25px !important;
  position: relative; }
  .confirmation-content-message p {
    margin-bottom: 20px; }
    .confirmation-content-message p a {
      color: #1d1d1d;
      font-weight: normal;
      text-decoration: underline; }

/* EVITE 
------------------------------------------------------------ */
.EviteElement {
  max-width: 500px; }
  .EviteElement h4 {
    margin-bottom: 0; }
  .EviteElement p {
    margin-bottom: 5px; }
    .EviteElement p label {
      font-weight: normal;
      display: block;
      font-size: 15px;
      margin: 5px 0 0 0; }
    .EviteElement p span {
      font-size: 16px;
      margin: 0; }
    .EviteElement p em {
      font-size: 13px; }
  .EviteElement input,
  .EviteElement textarea {
    clear: both;
    border: none;
    padding: 9px 10px;
    width: 100% !important; }
  .EviteElement img {
    display: inline-block;
    margin-bottom: 10px; }
  .EviteElement .EvitePreview {
    background: #1d1d1d;
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font-family: "Cardo", serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none; }
    .EviteElement .EvitePreview:hover {
      background: #818181; }

/* GALLERY
----------------------------------------------------------*/
html body#body form div.contents .sldw_caption h3,
html body#body form div.contents .sldw_caption p {
  color: #fff !important; }

#lcms_fancybox-overlay {
  background-color: #fff !important; }

.lcms_fancybox-opened .lcms_fancybox-skin {
  box-shadow: 0 0 0 #fff !important;
  border-radius: 0 !important; }

.lcms_fancybox-title-over-wrap {
  background: #818181 !important; }

#lcms_fancybox-title > span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  padding: 20px;
  text-align: center; }

#lcms_fancybox-desc {
  padding-top: 15px !important;
  display: block; }
  #lcms_fancybox-desc h1,
  #lcms_fancybox-desc h2,
  #lcms_fancybox-desc .eventsList ul li > a,
  .eventsList ul #lcms_fancybox-desc li > a,
  #lcms_fancybox-desc .productListing h3.productTitle,
  .productListing #lcms_fancybox-desc h3.productTitle,
  #lcms_fancybox-desc h3,
  #lcms_fancybox-desc h4,
  #lcms_fancybox-desc h5,
  #lcms_fancybox-desc h6 {
    color: #fff !important; }

/* LOGIN
------------------------------------------------------------ */
.loginElement {
  background: #fff;
  width: 350px;
  margin: 19% auto 0;
  padding: 30px;
  box-sizing: border-box;
  -webkit-animation: zoominlogin 0.8s ease-in-out both;
  -moz-animation: zoominlogin 0.8s ease-in-out both;
  animation: zoominlogin 0.8s ease-in-out both; }
  .loginElement h1.title {
    display: none; }
  .loginElement input {
    width: auto;
    padding: 10px;
    margin: 0; }
  .loginElement p {
    margin-bottom: 20px;
    font-size: 15px; }
    .loginElement p.forgot {
      margin-bottom: 0;
      font-size: 13px; }
      .loginElement p.forgot a {
        color: #818181; }
        .loginElement p.forgot a:hover {
          color: #2A2C38; }
  .loginElement .remember {
    font-size: 13px;
    color: #818181; }
    .loginElement .remember input {
      margin-right: 10px; }

/* SHOPPING CART & CHECKOUT
------------------------------------------------------------ */
.productListing {
  margin: 0 !important;
  width: 100% !important; }
  .productListing li.product {
    margin: 0 0 75px 0 !important;
    padding: 0 0 35px 0 !important;
    width: 100%;
    border-bottom: 1px solid #e9e9eb; }
    .productListing li.product:last-child {
      border-bottom: none; }
    .productListing li.product .productImageContainer {
      margin: 0 10px 20px 0;
      max-width: 25%;
      float: left; }
      .productListing li.product .productImageContainer img {
        max-width: 100%; }
      @media screen and (max-width: 468px) {
        .productListing li.product .productImageContainer {
          width: 100%;
          max-width: 100%;
          height: auto;
          float: none;
          margin: 0 0 20px 0; } }
  .productListing h3.productTitle a {
    text-decoration: none; }
  .productListing h4.productType,
  .productListing h4.productVendor {
    display: inline-block;
    font-size: 15px; }
  .productListing .productDescription {
    padding-top: 15px; }
  .productListing .productPriceContainer {
    display: block !important; }
    .productListing .productPriceContainer .productPrice, .productListing .productPriceContainer .productDetailPriceContainer .productDetailPrice, .productDetailPriceContainer .productListing .productPriceContainer .productDetailPrice {
      font-size: 20px !important;
      float: left;
      margin: 10px 0 0; }
  .productListing input.productAddToCart,
  .productListing a.productSelectOptions {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 14px !important;
    color: #fff !important;
    margin: 0 0 0 20px;
    float: right; }
  .productListing .productUnavailable {
    font-size: 16px;
    float: right;
    color: #818181;
    margin-top: 15px; }

.productListing.productListingGrid li.product {
  margin: 0 55px 25px 0 !important;
  padding: 0 !important;
  width: 175px;
  display: block;
  float: left;
  text-align: center;
  border-bottom: none;
  min-height: 350px; }
  @media screen and (max-width: 468px) {
    .productListing.productListingGrid li.product {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 75px !important;
      float: none; } }
  .productListing.productListingGrid li.product .productImageContainer {
    max-width: 175px !important;
    width: 175px;
    height: 175px;
    margin: 0 0 20px 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    float: none; }
    .productListing.productListingGrid li.product .productImageContainer img {
      min-width: 200px;
      min-height: 200px; }
      @media screen and (max-width: 468px) {
        .productListing.productListingGrid li.product .productImageContainer img {
          width: 100%;
          min-width: 100%;
          min-height: auto; } }
    @media screen and (max-width: 468px) {
      .productListing.productListingGrid li.product .productImageContainer {
        width: 100%;
        max-width: 100% !important;
        height: auto;
        margin-bottom: 0; } }
  .productListing.productListingGrid li.product:last-child {
    margin-right: 0 !important; }
  .productListing.productListingGrid li.product:nth-child(5n), .productListing.productListingGrid li.product:nth-child(2n+1), .productListing.productListingGrid li.product:nth-child(odd) {
    clear: none; }
.productListing.productListingGrid h3.productTitle {
  clear: both;
  font-size: 14px !important;
  margin: 0 0 10px 0; }
.productListing.productListingGrid .productPriceContainer {
  padding: 0 !important; }
  .productListing.productListingGrid .productPriceContainer .productPrice, .productListing.productListingGrid .productPriceContainer .productDetailPriceContainer .productDetailPrice, .productDetailPriceContainer .productListing.productListingGrid .productPriceContainer .productDetailPrice {
    font-size: 13px !important;
    float: none;
    padding: 5px 10px !important;
    border-radius: 20px;
    background: #e9e9eb; }
  .productListing.productListingGrid .productPriceContainer .productUnavailable,
  .productListing.productListingGrid .productPriceContainer a.productSelectOptions,
  .productListing.productListingGrid .productPriceContainer .productAddToCart {
    display: none !important; }

.box .productListing.productListingGrid li.product {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-right: 0;
  margin-bottom: 75px !important;
  float: none; }
  .box .productListing.productListingGrid li.product .productImageContainer {
    width: 100%;
    max-width: 100% !important;
    height: auto;
    margin-bottom: 0; }
    .box .productListing.productListingGrid li.product .productImageContainer img {
      width: 100%;
      min-width: 100%;
      min-height: auto; }

.productDetailImageContainer {
  margin: 0 40px 40px 0;
  width: 100%;
  max-width: 320px; }
  @media screen and (max-width: 468px) {
    .productDetailImageContainer {
      max-width: 95% !important; } }
  .productDetailImageContainer .productDetailImageList .productDetailImage {
    margin: 0;
    padding: 0;
    width: 100% !important; }
    @media screen and (max-width: 468px) {
      .productDetailImageContainer .productDetailImageList .productDetailImage {
        max-width: 95% !important; } }
  .productDetailImageContainer .productDetailImageThumb {
    padding: 0 !important;
    margin-right: 26px !important;
    margin-top: 10px !important; }
    .productDetailImageContainer .productDetailImageThumb a {
      padding: 0 !important; }
    .productDetailImageContainer .productDetailImageThumb:last-child {
      margin-right: 0 !important; }

h2.productDetailTitle, .eventsList ul li > a.productDetailTitle, .productListing h3.productDetailTitle.productTitle {
  margin-bottom: 5px; }

h3.productDetailType,
h3.productDetailVendor {
  display: inline-block;
  font-size: 15px !important; }

ul.productDetailVariantList {
  height: 1px;
  visibility: hidden; }

.productDetailPriceContainer {
  padding-top: 15px; }
  .productDetailPriceContainer .productDetailPrice {
    padding: 5px 10px !important;
    border-radius: 20px;
    background: #e9e9eb; }

.productDetailAddToCartContainer {
  border: 1px solid #e9e9eb;
  border-width: 1px 0;
  padding: 15px 15px 10px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 450px; }
  .productDetailAddToCartContainer select,
  .productDetailAddToCartContainer #productDetailCartQuantity {
    font-size: 13px;
    padding: 8px 10px;
    display: block;
    margin-left: 10px; }
  .productDetailAddToCartContainer span.productDetailQuantity,
  .productDetailAddToCartContainer #productDetailCartQuantity {
    display: inline-block !important; }
  .productDetailAddToCartContainer .productDetailAddToCart {
    padding: 11px 22px !important;
    font-size: 15px;
    margin: 0 0 0 20px !important; }

.productDetailDescriptionTitle {
  display: none; }

.productDetailDescriptionContainer {
  max-width: 450px !important; }

/* CHECKOUT */
.shoppingCartContainer {
  position: relative; }
  .shoppingCartContainer .cartItemsCount,
  .shoppingCartContainer .cartContinueShopping {
    display: none !important; }
  .shoppingCartContainer .cartItems {
    margin-bottom: 100px; }
    .shoppingCartContainer .cartItems th {
      background: #f9f9f9 !important;
      color: #1d1d1d !important;
      font-size: 15px;
      padding: 10px !important;
      border-bottom: 3px solid #e9e9eb; }
  .shoppingCartContainer .shoppingCart table tbody td {
    border-bottom: 1px solid #f1f1f2 !important;
    padding: 20px 10px !important;
    background: #f9f9f9; }
    .shoppingCartContainer .shoppingCart table tbody td.cartImage img {
      max-width: 125px !important;
      max-height: 125px !important; }
  .shoppingCartContainer .cartDescription a {
    text-decoration: none;
    font: 700 16px "Montserrat", sans-serif !important; }
  .shoppingCartContainer .cartQuantity input {
    font-size: 14px;
    width: 50px !important;
    height: auto !important;
    padding: 5px !important;
    border-radius: 0 !important; }
  .shoppingCartContainer .cartQuantity a {
    background: transparent url(../../images/close.svg) no-repeat top left !important;
    background-size: contain !important;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    display: inline-block;
    margin: 5px 0 0 0;
    position: absolute; }
    .shoppingCartContainer .cartQuantity a:hover {
      opacity: .75; }
  .shoppingCartContainer .cartDiscount,
  .shoppingCartContainer .cartSubtotal {
    background: #e9e9eb;
    padding: 10px 20px !important; }
    .shoppingCartContainer .cartDiscount label,
    .shoppingCartContainer .cartSubtotal label {
      display: inline-block !important;
      font-size: 12px !important; }
  .shoppingCartContainer .cartDiscount {
    padding-top: 20px !important; }
    .shoppingCartContainer .cartDiscount input {
      font-size: 13px !important;
      max-width: 75px;
      height: auto !important;
      border-radius: 0 !important;
      padding: 5px 10px !important; }
    .shoppingCartContainer .cartDiscount .applyCode {
      background-color: #1d1d1d !important;
      display: inline-block;
      background-image: none !important;
      border-radius: 0 !important;
      padding: 1px 6px !important;
      text-transform: uppercase !important; }
  .shoppingCartContainer .cartSubtotalPrice {
    font-size: 27px !important; }
  .shoppingCartContainer .cartUpdate {
    background: transparent !important;
    padding: 0 !important;
    position: absolute;
    right: 200px;
    bottom: -85px !important;
    font-size: 13px !important;
    text-decoration: none !important; }
  .shoppingCartContainer label.cartSubtotalLabel {
    font-size: 17px !important; }
  .shoppingCartContainer .cartCheckoutButton {
    border-radius: 0 !important;
    font: 15px/2 "Cardo", serif !important;
    background: #FF4056 !important;
    display: inline-block !important;
    color: #fff !important;
    padding: 15px 40px !important;
    text-transform: uppercase !important;
    border: none !important;
    width: auto !important;
    position: absolute;
    right: 0;
    bottom: -85px !important;
    height: auto !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .shoppingCartContainer .cartCheckoutButton input {
      background-image: none !important;
      text-transform: uppercase;
      padding: 0 !important;
      height: auto !important;
      border: none !important; }
    .shoppingCartContainer .cartCheckoutButton:hover {
      background: #f3001c; }
